<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TemaXP.Properties.Settings.DatabaseConnectionString" connectionString="data source=balder.ucn.dk;initial catalog=DM71_2;user id=DM71_2;password=MaaGodt" providerName="System.Data.SqlClient" />
    <add name="TemaXP_connectionstring" connectionString="data source=balder.ucn.dk;initial catalog=dm71_2;user id=dm71_2;password=MaaGodt" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>