<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TemaXP.Properties.Settings.DatabaseConnectionString"
      connectionString="Data Source=balder.ucn.dk;initial catalog=DM71_2;User Id=DM71_2; Password=MaaGodt;"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
  </configuration>
    
